<!DOCTYPE html>
<html>
  <head>
    <title>Publishify</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="ui grid">
      <div class="row">
        <div class="five wide column"></div>
        <div class="six wide column">
          <div class="ui piled segment">
            <br>
            <center><h2></i><%=status + ' ' + message %></h2></center>
            <br>
            <center>Sorry, that happened. If you think this is a mistake, please report on <a href="https://github.com/jafarovr/publishify/issues"> github.</center>
            <br>
          </div>

        </div>
        <div class="five wide column"></div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/semantic.min.js"></script>
</html>
